.iconextract{
	background-image: url('../img/extracticon.svg');
	padding-left: 38px;
    padding-top: 19px;
    padding-bottom: 19px;
    background-repeat: no-repeat;
    background-position-x: 11px;
    background-position-y: 50%;
    background-size: 16px;
	margin-left: 0 !important;
}